nav{
   display: flex;
   justify-content:space-between;
   align-items: center;
   padding:1rem 3rem;
}

h1{
   font-size: 2.5rem;
   font-weight:600;
   color: blue;
}

span{
   color:grey;
}

img{
   height: 3rem;
   width: 3rem;
   border-radius: 50%;
}

.right{
   display: flex;
   align-items: center;
   gap: 2rem;
}